<header>
  <div>
    <h1> Welcome to Remind U! </h1>
  </div>
</header>

<div>
  <div>
    <p>
    The purpose is bla bla bla
    </p>
  </div>
  <button type="button"><%=link_to "Create a Reminder", pics_path %></button>

</div>


