
<div class="jumbotron" id="custom">
  <header class="page-header">
      <h1> Welcome to Remind U! </h1>
      <p>Where you need not worry because we will remember.</p>
    </header>
</div>

<div class="container">

 <!--  <div class="container-fluid"> -->
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-group">

          <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading"> Hear From Past Users</h4>
          </a>

          <li>
            <a href="#" class="list-group-item">
              <h6 class="list-group-item-heading">susan@yahoo.com</h6>
              <p class="list-group-item-text">"I used to forget to pick up little Johnny from soccer...but not since I started using Remind U"</p>
            </a>
           </li>

           <li>
            <a href="#" class="list-group-item">
              <h6 class="list-group-item-heading">joe@hotmail.com</h6>
              <p class="list-group-item-text">"I use Remind U for all my dinner parties"</p>
            </a>
           </li>

            <li>
            <a href="#" class="list-group-item">
              <h6 class="list-group-item-heading">brittany@gmail.com</h6>
              <p class="list-group-item-text">"I remind my husband to get the groceries"</p>
            </a>
           </li>

            <li>
            <a href="#" class="list-group-item">
              <h6 class="list-group-item-heading">billy@gmail.com</h6>
              <p class="list-group-item-text">"I use Remind U for everything from reminding my kids to walk the dog to reminding myself to go for a run"</p>
            </a>
           </li>

            <li>
            <a href="#" class="list-group-item">
              <h6 class="list-group-item-heading">DocStevens@aol.com</h6>
              <p class="list-group-item-text">"I use Remind U to remind my patients of upcoming appointments"</p>
            </a>
           </li>

        </ul>
      </div>

      <div class="col-xs-8">
        <h3>This application provide you with the unique ability to send a picture reminder to anyone in the world...</h3>
        <h4> Go forth and remind! </h4>
        <p><a class="btn btn-lg btn-primary" href="<%=new_reminder_path%>" role="button">Create Reminder</a></p>
      </div>
  <!--     <div class="col-md-3">
      </div> -->
    </div>
  </div>
</div>
<!-- link_to new_reminder_path -->
