<div class="container">
  <header class="page-header">
    <h1> Welcome to Remind U! </h1>
  </header>

 <!--  <div class="container-fluid"> -->
    <div class="row">
      <!-- <div class="col-md-3"> -->
      <!-- </div> -->
      <div class="col-md-4">


      </div>
      <div class="col-md-8">
        <h3>This application provide you with the unique ability to send a picture reminder to anyone in the world...</h3>
        <h4> Go forth and remind! </h4>
        <p><a class="btn btn-lg btn-primary" href="<%=new_reminder_path%>" role="button">Create Reminder</a></p>
      </div>
  <!--     <div class="col-md-3">
      </div> -->
    </div>
  </div>
</div>
<!-- link_to new_reminder_path -->
