

.jumbotron#custom {
  background-color: rgb(255, 107, 90);

}

.page-header h1 {
  text-align: center;
}

.page-header h2 {
  text-align: center;
}

.page-header p {
  text-align: center;
}

.panel-footer-clr {
  height: 150px;
  background-color: rgb(64,255,157);
  padding-left: 10px;
}

ul {
  list-style-type: none;
}


.col-xs-8#frontPage{
  padding-top: 25px;
  text-align: center;
}

.devise {
  padding-bottom: 25px;
  padding-left: 25px;
}

.Action.btn.butn-md.custom {
  background-color: #fff;
}


